body {
    margin: 0;
    padding: 0;
      
}

/* top header styling */
#color-header {
    display: flex;
    justify-content:  space-around;
    margin: auto;
    padding-top: 20px;
    font-family: 'Noto Sans';      
}

/* Dropdown and button styling */
button, #dropdown {
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    background: white;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    padding: 10px;   
}

#get-color{
    font-size: 14px;
}

/* Color selector styling */
#head {
    border-radius: 0;
    border: 1px solid #D1D5DB;
    padding: 2px;
    height: 42px;
    width: 61px;
}

    
.colorRender {       
    width: 100%;        
    margin-top: 2em;
    height: 21.87rem;     
}

#colorInfo {
    display: flex;    
    flex-direction: row;
    align-content: center;
}

.hexVal {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: 1em 0;
    font-family:  "Montserrat";
    font-size: 15px; 
}

